[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
"psycopg2-binary" = "*"
gunicorn = "*"
django = "*"
zappa = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pillow = "*"
pyzbar = "*"
requests = "*"
boto3 = "*"
awscli = "*"
django-cors-headers = "*"
django-rest-swagger = "==2.1.2"
awsebcli = "*"
dj-database-url = "*"

[dev-packages]
awscli = "*"
pylint = "*"
