container_commands:
    01_collectstatic:
        command: "python manage.py collectstatic --noinput"
        leader_only: true
    02_migrate:
        command: "python manage.py migrate"
        leader_only: true
option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: library.settings
        DATABASE_URL: postgres://anton:creafien@ca8a2w9zqyrc.eu-west-1.rds.amazonaws.com:5432/aauhe88wpoo8ka